<div
  class="board-container"
  cdkDropList
  cdkDropListOrientation="horizontal"
  [cdkDropListData]="stacks"
  (cdkDropListDropped)="drop($event)"
>
  @for (stack of stacks; track stack.id) {
    <div class="stack-wrapper" cdkDrag>
      <div class="stack-placeholder" *cdkDragPlaceholder></div>

      <div class="card-stack">
        <!-- <div class="tag-header">{{ stack.tag }}</div> -->

        <div class="cards-container">
          @for (card of stack.cards; track card.id; let first = $first) {
            <app-card
              [title]="card.title"
              [content]="card.content"
              [class.stacked]="!first"
            ></app-card>
          }
        </div>
      </div>
    </div>
  } @empty {
    <p>Brak kart na tablicy.</p>
  }
</div>
